# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Wed Aug 07 22:11:04 CEST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
updateTimeoutMilliseconds=1500
